.about_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include mq($bpPhone) {
        grid-template-columns: 1fr;
    }
    .about_info_image {
        picture {
            img {
                width: 100%;
            }
        }
        @include mq($bpPhone) {
            margin-bottom: 42px;
        }
    }
    .about_info_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 430px;
        margin-inline: auto;
        @include mq($bpPhone) {
            width: 338px;
            padding-bottom: 63px;
        }
        h2 {
            margin-bottom: 3rem;
            text-align: left;
            position: relative;
            @include line-title(0, 0, $black);
        }
        p {
            margin-bottom: 15px;
        }
    }
}

.about_tips {
    padding: 12rem 0;
    background-image: url(../assets/img/paper.jpg);
    @include mq($bpLarge) {
        padding: 8rem 0;
    }
    @include mq($bpPhone) {
        padding: 5rem 0 10rem;
    }
    & * {
        font-weight: 300;
    }
    .content_title {
        h2 {
            margin-bottom: 3rem;
            text-align: center;
            position: relative;
            @include line-title(50%, -50%, $black);
        }
        &>p {
            max-width: 46.88%;
            @include margin-x;
            margin-top: 3rem;
            text-align: center;
            margin-bottom: 6rem;
            @include mq($bpPhone) {
                max-width: 338px;
            }
        }
    }
    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include margin-x;
        gap: 2rem 8rem;
        justify-content: center;
        justify-items: left;
        max-width: 60%;
        @include mq($bpPhone) {
            grid-template-columns: 1fr;
            max-width: 340px;
            gap: 3rem 8rem;
        }
        & li {
            list-style: outside;
            h4 {
                font-family: $font_roboto;
                font-weight: 400;
                font-size: 19px;
                @include mq($bpLaptop) {
                    font-size: 15px;
                }
            }
            p {
                margin-top: 15px;
            }
        }
    }
}