.section_category {
    display: grid;
    grid-template-columns: 76% 24%;
    height: 100vh;
    position: relative;
    @include mq($bpPhone) {
        display: grid;
        grid-template-columns: auto;
        height: 100%;
    }
    &__title {
        background: linear-gradient(72.78deg, #FF0000 0%, #A40000 100%);
        height: 388px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 135px;
        padding-bottom: 45px;
        max-width: 673px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        & * {
            color: $white;
        }
        @include mq($bpLarge) {
            width: 41%;
            padding-left: 100px;
            padding-right: 40px;
        }
        @include mq($bpLaptop) {
            height: 263px;
            width: 476px;
            padding-left: 95px;
            padding-right: 90px;
        }
        @include mq($bpPhone) {
            width: 100%;
            height: 380px;
            padding-left: 30px;
            padding-right: 30PX;
            position: relative;
        }
        h1 {
            font-size: 35px;
            margin-bottom: 3rem;
            text-align: left;
            position: relative;
            max-width: 190px;
            @include line-title(0, 0, $white);
            @include mq($bpLarge) {
                max-width: 255px;
            }
            @include mq($bpLaptop) {
                font-size: 27px;
            }
            @include mq($bpPhone) {
                font-size: 30px;
                max-width: 245px;
            }
        }
        p {
            max-width: 430px;
        }
    }
    &__info {
        position: relative;
        @include mq($bpPhone) {
            padding: 35px 0;
            margin: 0 20px;
        }
        .section_category_info_services {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            grid-template-rows: 40% 60%;
            display: grid;
            grid-template-columns: 54% 46%;
            height: 100%;
            @include transition;
            @include mq($bpPhone) {
                visibility: visible;
                opacity: 1;
                display: flex;
                position: relative;
                grid-gap: 15px;
                height: auto;
                margin-bottom: 25px;
            }
            &.active {
                visibility: visible;
                opacity: 1;
            }
            .section_category_info_text {
                grid-column: 1;
                grid-row: 2;
                padding-top: 60px;
                position: relative;
                width: 60%;
                margin-inline: auto;
                @include mq($bpPhone) {
                    width: 60%;
                    padding-top: 0px;
                    order: 2;
                    display: flex;
                    align-items: center;
                }
                .container {
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @include mq($bpLaptop) {
                        height: 290px;
                    }
                    @include mq($bpPhone) {
                        height: auto;
                    }
                    h3 {
                        @include mq($bpPhone) {
                            font-family: $font_roboto;
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 16px;
                        }
                    }
                    .description {
                        height: 270px;
                        overflow: auto;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding-right: 10px;
                        @include mq($bpLaptop) {
                            height: 190px;
                        }
                        @include mq($bpPhone) {
                            height: 100%;
                            padding-right: 0px;
                            margin-top: 12px;
                            margin-bottom: 0;
                        }
                        .description_desktop {
                            display: block;
                            @include mq($bpPhone) {
                                display: none;
                            }
                        }
                        .description_mobile {
                            display: none;
                            @include mq($bpPhone) {
                                display: block;
                                color: #414141;
                                line-height: 1.5;
                                font-weight: 300;
                            }
                        }
                        @include custom-scroll;
                    }
                    ul {
                        font-family: $font_roboto;
                        font-weight: 300;
                        font-size: 18px;
                        margin-left: 25px;
                        line-height: 1.5;
                        padding-top: 20px;
                        @include mq($bpLaptop) {
                            font-size: 15px;
                        }
                        li {
                            list-style: disc;
                        }
                    }
                }
                span {
                    cursor: pointer;
                    @include btn-red-general;
                    @include mq ($bpPhone) {
                        display: none;
                    }
                }
            }
        }
        .section_category_info_image {
            grid-column: 2;
            grid-row: span 2;
            .icon-icon-close {
                display: none;
            }
            @include mq($bpPhone) {
                width: 40%;
                order: 1;
            }
            picture {
                img {
                    width: 100%;
                    height: 100%;
                    @include mq($bpPhone) {
                        height: 115px;
                        border-radius: 15px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .btn_more_jobs {
        display: none;
        @include mq($bpPhone) {
            padding-bottom: 50px;
            display: block;
            text-align: center;
            font-weight: 400;
            line-height: 1.66;
            color: #545454;
            cursor: pointer;
            margin-bottom: 0;
        }
    }
    &__services {
        background-color: $white;
        position: relative;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
        height: 100vh;
        overflow: hidden;
        @include mq($bpPhone) {
            display: none;
        }
        // &::before {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     bottom: 0;
        //     z-index: 8;
        //     top: 0;
        //     width: 100%;
        // }
        h2 {
            text-align: center;
            padding: 47px 0;
            background-color: $white;
            text-align: center;
            position: sticky;
            padding: 47px 0;
        }
        .content_list {
            overflow: auto;
            max-height: 70%;
            &::-webkit-scrollbar {
                border-radius: 10px;
                width: 7px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $red;
                border-radius: 10px;
            }
            ul {
                text-transform: uppercase;
                li {
                    padding: 1.5rem 0 2rem 4rem;
                    margin-bottom: 10px;
                    position: relative;
                    &.active {
                        background-color: $black;
                        color: $white;
                        &::before {
                            background-color: $white;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        background-color: $red;
                        left: 20px;
                        top: 45%;
                        border-radius: 50%;
                        transform: translateY(-50%);
                    }
                    &:hover {
                        background-color: $black;
                        color: $white;
                        cursor: pointer;
                        &::before {
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }
}

.category_modal {
    position: fixed;
    top: 145px;
    left: 0;
    right: 0;
    z-index: 25;
    width: 380px;
    margin-inline: auto;
    transform: scale(1);
    @include transition;
    .modal-body {
        display: flex;
        flex-direction: column;
        .section_category_info_text {
            background-color: white;
            padding: 35px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            order: 2;
            .container {
                height: 270px;
                overflow: auto;
                h3 {
                    font-size: 19px;
                    font-family: $font_roboto;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 18px;
                }
                ul {
                    font-family: $font_roboto;
                    font-weight: 300;
                    font-size: 15px;
                    margin-left: 25px;
                    line-height: 1.5;
                    padding-top: 15px;
                    li {
                        list-style: disc;
                        margin-bottom: 10px;
                        line-height: 1.93;
                    }
                }
                .content_btn {
                    margin-top: 45px;
                    text-align: center;
                    span {
                        @include btn-red-general;
                    }
                }
                .description_mobile {
                    display: none;
                }
                @include custom-scroll;
            }
        }
        .section_category_info_image {
            order: 1;
            picture {
                img {
                    width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
            }
            .icon-icon-close {
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
                color: $white;
            }
        }
    }
    &.hide {
        visibility: hidden;
        transform: scale(0);
    }
}