.contact {
    position: fixed;
    width: 100%;
    transition: all .7s ease-in-out;
    opacity: 0;
    box-sizing: border-box;
    z-index: 2000;
    z-index: -10;
    &.active {
        opacity: 1;
        z-index: 1000;
        // & .contact_content {
        //     transform: translateX(0);
        // }
    }
    .contact_content {
        transform: translateX(150%);
        background-color: $black;
        padding: 75px 36px;
        width: 385px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
        transition: all 1s ease;
        @include mq($bpLarge) {
            padding: 7rem 5rem;
        }
        @include mq($bpLaptop) {
            padding: 50px 28px;
            width: 275px;
        }
        @include mq($bpPhone) {
            width: 100%;
            background-color: $white;
            padding: 50px 50px;
        }
        &.active {
            transform: translateX(0);
        }
        .btn_container {
            position: absolute;
            top: 40px;
            left: 40px;
            cursor: pointer;
            @include mq($bpLarge) {
                top: 50px;
            }
            @include mq($bpLaptop) {
                top: 26px;
                left: 26px;
            }
        }
        @include contact-content;
    }
}