.footer {
    @include footer(rgba(0, 0, 0, 0.65), 7.8rem, 9rem, 3.5rem, 3rem, $white);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 264px;
    padding: 8rem 0;
    overflow: hidden;
    & * {
        font-weight: 300;
        letter-spacing: 0.05em;
        color: $white;
        @include mq($bpPhone) {
            letter-spacing: 0;
        }
    }
    @include mq($bpLaptop) {
        margin-left: 190px;
    }
    @include mq($bpPhone) {
        padding: 6rem 0;
        margin-left: 0;
    }
    .footer_container {
        display: grid;
        grid-template-columns: 45rem 76rem;
        column-gap: 10rem;
        justify-content: center;
        @include mq($bpLarge) {
            grid-template-columns: 40rem 73rem;
            column-gap: 4rem;
        }
        @include mq($bpLaptop) {
            grid-template-columns: 33rem 70rem;
        }
        @include mq($bpPhone) {
            grid-template-columns: 1fr;
            width: 345px;
            margin-inline: auto;
            column-gap: 0;
            row-gap: 4rem;
        }
        &__form {
            input,
            textarea {
                &::placeholder {
                    color: $white;
                }
            }
            input[type^="email"],
            textarea {
                border-radius: inherit;
                padding: 1.5rem 2rem;
                width: 100%;
                border: none;
                outline: none;
                font-weight: 300;
                color: $white;
                background-color: $grey-3;
                font-family: $font_roboto;
            }
            input[type^="email"] {
                margin-bottom: 2rem;
            }
            input[type^="submit"] {
                @extend .btn_general;
                width: 100%;
                margin-top: 3rem;
            }
            textarea {
                padding: 2rem;
                height: 9rem;
            }
            .content_btn {
                position: relative;
                .ajax-loader {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
            p {
                font-weight: 300;
                margin-bottom: 3.5rem;
                font-size: 16px;
                @include mq($bpPhone) {
                    font-size: 15px;
                    margin-bottom: 40px;
                }
            }
        }
        &__menu {
            .footer_links {
                display: flex;
                padding-bottom: 3rem;
                column-gap: 3rem;
                font-size: 14px;
                text-transform: uppercase;
                position: relative;
                @include mq($bpLarge) {
                    column-gap: 2.5rem;
                }
                @include mq($bpLaptop) {
                    column-gap: 2.7rem;
                    font-size: 13px;
                }
                @include mq($bpPhone) {
                    padding-bottom: 45px;
                    display: inline-block;
                    text-align: center;
                    &::before {
                        display: none;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1.5px;
                    background-color: $white;
                    width: 100%;
                }
                li {
                    @include mq($bpPhone) {
                        display: inline-block;
                        padding: 10px 5px;
                    }
                    a {
                        @include mq($bpPhone) {
                            white-space: nowrap;
                        }
                    }
                }
            }
            .footer_contact_links {
                margin-top: 30px;
                @include mq($bpPhone) {
                    margin-top: 0px;
                }
                ul {
                    display: flex;
                    align-items: center;
                    @include mq($bpPhone) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    li {
                        @include mq($bpPhone) {
                            &:first-child {
                                margin-bottom: 15px;
                            }
                        }
                        a {
                            margin-right: 7rem;
                            @include mq($bpLarge) {
                                font-size: 15px;
                            }
                            @include mq($bpPhone) {
                                margin-right: 0;
                            }
                            span {
                                float: left;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    & h3 {
        font-weight: 600;
        text-align: left;
        margin-bottom: 1.5rem;
        text-transform: inherit;
        @include mq($bpPhone) {
            letter-spacing: 0.05em;
        }
    }
    & .footer__contact {
        align-items: center;
        & span {
            color: $white;
            margin-right: 1rem;
        }
        & .social-footer {
            & a::before {
                color: $white;
            }
        }
    }
}