.gallery {
    padding: 0 2rem;
    padding-bottom: 6rem;
    padding-top: 12rem;
    position: relative;
    @include mq($bpLaptop) {
        padding-top: 7rem;
    }
    h2 {
        margin-bottom: 3rem;
        text-align: center;
        position: relative;
        @include line-title(50%, -50%, $black);
    }
    strong {
        @include title(15rem, 15rem, $font_roboto, initial);
        position: absolute;
        left: 0;
        top: -9rem;
        z-index: -1;
        opacity: .1;
        display: block;
        width: 100%;
        text-align: center;
        line-height: 1;
        @include mq($bpLarge) {
            @include title(10rem, 10rem, $font_roboto, initial);
            top: -1.5rem;
        }
    }
    p {
        color: $black;
        text-align: center;
        margin-bottom: 6rem;
        font-weight: 300;
        @include mq($bpPhone) {
            margin-bottom: 50px;
        }
    }
    & ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        @include mq($bpPhone) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
    & img {
        width: 100%;
        height: 100%;
    }
    .fslightbox-slide-number-container {
        display: none!important;
    }
    .fslightbox-toolbar {
        & div {
            &:nth-of-type(1) {
                display: none;
            }
        }
    }
    .gallery-item {
        position: relative;
        &:hover {
            & .eye-wrapper {
                background: $red;
                mix-blend-mode: multiply;
            }
            .eye {
                z-index: 10!important;
                opacity: 1 !important;
            }
        }
        .eye-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            @include transition;
        }
        .eye {
            height: 4rem;
            width: 4rem;
            display: flex;
            z-index: -1;
            opacity: 0;
            justify-content: center;
            align-items: center;
            background-color: $white;
            border-radius: 10rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include transition;
            & i {
                &::before {
                    @include transition;
                    color: $black;
                }
            }
            &:hover {
                & i::before {
                    color: $red;
                }
            }
        }
    }
    .bt_more_jobs {
        padding-top: 3.5rem;
        display: block;
        text-align: center;
        font-weight: 400;
        line-height: 1.66;
        color: #545454;
        cursor: pointer;
        margin-bottom: 0;
        &:hover {
            color: $red;
        }
        @include mq($bpPhone) {
            padding-top: 26px;
        }
    }
}