.page-template-home {
    .social_media_mobile {
        position: absolute;
        z-index: 5;
        top: 33px;
        display: flex;
        right: 85px;
        li {
            margin-left: 22px;
            a {
                color: $white;
                font-size: 18px;
            }
        }
        @include mq-min ($bpTablet) {
            display: none;
        }
    }
    .menu_multilanguage {
        display: block;
        position: fixed;
        top: 25px;
        right: 25px;
        z-index: 15;
        @include mq($bpLarge) {
            top: 2rem;
        }
        @include mq($bpPhone) {
            display: none;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            border-radius: 14px;
            background-color: $red;
            overflow: hidden;
            &:hover {
                background-color: $black;
            }
        }
        li {
            font-size: 15px;
            border-radius: 14px;
            text-transform: uppercase;
            &.current-lang {
                border-radius: 14px;
            }
            &:last-child {
                &::before {
                    content: "";
                    width: 2px;
                    height: 13px;
                    bottom: 8px;
                    position: absolute;
                    background-color: #fff;
                    display: block;
                }
            }
        }
        a {
            color: $white;
            display: block;
            height: 28px;
            line-height: 28px;
            padding: 0 1.2rem;
            box-sizing: border-box;
            position: relative;
            @include mq($bpLarge) {
                font-size: 12px;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                height: 15px;
                width: 1px;
                background: $white;
            }
            &:last-child:before {
                display: none;
            }
        }
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 264px;
    height: 100%;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding: 8rem 3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: $font_roboto;
    background-size: cover;
    @include transition;
    @include mq($bpLaptop) {
        padding: 4rem 3rem;
        width: 190px;
    }
    @include mq($bpPhone) {
        transform: translateX(100%);
        left: unset;
        right: 0;
        z-index: 17;
        align-items: flex-start;
        justify-content: center;
        width: 203px;
    }
    &.active {
        transform: translateX(0);
    }
    .icon-icon-close {
        color: $white;
        position: absolute;
        top: 40px;
        @include mq-min($bpTablet) {
            display: none;
        }
    }
    .header_logo {
        position: fixed;
        z-index: 4;
        top: 70px;
        left: auto;
        width: 138px;
        height: auto;
        @include mq($bpLaptop) {
            width: 100px;
            height: auto;
            top: 50px;
        }
        @include mq($bpPhone) {
            display: none;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .navbar-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 70%;
        @include mq($bpLaptop) {
            gap: 1rem;
            margin-top: 7rem;
        }
        @include mq($bpPhone) {
            width: auto;
            align-items: flex-start;
        }
        li {
            display: block;
            padding: 10px 0;
            @include mq($bpLaptop) {
                padding: 8px 0;
            }
            &.current-menu-item {
                a {
                    color: $white;
                    @include mq($bpPhone) {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            left: -13px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 6px;
                            height: 6px;
                            background-color: $white;
                            border-radius: 50%;
                        }
                    }
                }
            }
            a {
                display: block;
                letter-spacing: 1.1px;
                cursor: pointer;
                font-family: $font_asap;
                text-transform: uppercase;
                font-size: 14px;
                color: $gray-rgb-3;
                &:hover {
                    color: $white;
                }
                @include mq($bpLaptop) {
                    font-size: 10px;
                }
                @include mq($bpPhone) {
                    color: $white;
                    font-size: 15px;
                }
            }
        }
    }
    .header_socials {
        position: absolute;
        text-align: center;
        bottom: 7.5rem;
        @include mq($bpLaptop) {
            bottom: 10px;
        }
        @include mq($bpPhone) {
            left: 15px;
            bottom: 48px;
        }
        ul {
            justify-content: center;
            display: flex;
            margin-bottom: 20px;
            @include mq($bpLaptop) {
                margin-bottom: 10px;
            }
            a {
                color: $gray-rgb-3;
                margin: 0 2rem;
                &:hover {
                    color: $white;
                }
                @include mq($bpLaptop) {
                    margin: 0 1rem;
                    font-size: 13px;
                }
                @include mq($bpPhone) {
                    color: $white;
                    font-size: 18px;
                    margin: 0 1rem;
                }
            }
        }
        .text_contact {
            color: $white;
            font-size: 14px;
            @include mq($bpLaptop) {
                font-size: 10px;
            }
            @include mq($bpPhone) {
                font-size: 13px;
            }
        }
    }
}

.main_site {
    margin-left: 264px;
    @include mq($bpLaptop) {
        margin-left: 190px;
    }
    @include mq($bpPhone) {
        margin-left: 0;
        position: relative;
    }
}


/*
* Mobile Menu
*/

.open-menu {
    display: none;
    @include mq($bpPhone) {
        display: block;
        position: absolute;
        z-index: 5;
        right: 27px;
        float: right;
        top: 27px;
        .icon-hamburguer-menu {
            font-size: 30px;
            color: white;
        }
    }
}

.menu_multilanguage {
    display: none;
}

.header_logo {
    position: fixed;
    z-index: 4;
    top: 70px;
    left: auto;
    width: 138px;
    height: auto;
    @include mq($bpPhone) {
        position: absolute;
        top: 27px;
        left: 27px;
    }
    img {
        width: 100px;
        height: auto;
    }
}

.social_media_mobile {
    display: none;
}

@media(max-width: 1024px) {
    .menu_multilanguage {
        top: 25px;
        left: 50px;
        li {
            font-size: 12px;
        }
        a {
            padding: 0 7px;
        }
    }
}

.contact {
    position: fixed;
    width: 100%;
    transition: all .7s ease-in-out;
    opacity: 0;
    box-sizing: border-box;
    z-index: 2000;
    z-index: -10;
    &.active {
        opacity: 1;
        z-index: 1000;
        // & .contact_content {
        //     transform: translateX(0);
        // }
    }
    .contact_content {
        transform: translateX(150%);
        background-color: $white;
        padding: 10rem 8rem;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
        transition: all 1s ease;
        @include mq($bpLarge) {
            padding: 7rem 5rem;
        }
        @include mq($bpLaptop) {
            padding: 50px 28px;
        }
        @include mq($bpPhone) {
            width: 100%;
            background-color: $white;
        }
        &.active {
            transform: translateX(0);
        }
        .btn_container {
            position: absolute;
            top: 40px;
            left: 40px;
            cursor: pointer;
            @include mq($bpLarge) {
                top: 50px;
            }
            @include mq($bpLaptop) {
                top: 28px;
                left: 28px;
            }
            .icon-icon-close {
                color: $white;
                @include mq($bpPhone) {
                    color: $black;
                }
            }
        }
        @include contact-content;
    }
}

.bg-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    transition: 500ms cubic-bezier(.69, -0.59, .46, 1.94);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    @include transition;
    &.active {
        opacity: 1;
        z-index: 15;
        visibility: visible;
    }
}