.banner_categorys {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    @include mq($bpPhone) {
        grid-template-columns: 50% 50%;
    }
    a {
        background-size: cover;
        flex-direction: column;
        display: flex;
        justify-content: flex-end;
        position: relative;
        .text_bg {
            margin-left: 50px;
            margin-bottom: 50px;
            position: relative;
            @include mq($bpPhone) {
                margin-left: 30px;
                margin-bottom: 30px;
            }
            & * {
                color: $white;
            }
            h1 {
                font-size: 30px;
                position: relative;
                max-width: 180px;
                line-height: 1;
                margin-bottom: 20px;
                @include mq($bpPhone) {
                    font-size: 20px;
                    max-width: auto;
                    line-height: 1.2;
                }
                &:hover {
                    &::before {
                        background-color: $white;
                        @include transition;
                    }
                }
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-color: rgba(255, 255, 255, 0.5);
                    bottom: -15px;
                    @include mq($bpPhone) {
                        height: 2px;
                        width: 85%;
                    }
                }
            }
            p {
                text-transform: uppercase;
                font-weight: 400;
                margin-top: 40px;
                font-size: 16px;
                display: none;
                @include mq($bpPhone) {
                    font-size: 14px;
                }
            }
        }
        &:first-child {
            grid-row: span 2;
            @include mq($bpPhone) {
                grid-row: auto;
                grid-column: span 2;
            }
            .text_bg {
                margin-left: 13.5rem;
                margin-bottom: 7.5rem;
                @include mq($bpLaptop) {
                    margin-left: 10rem;
                    margin-bottom: 6rem;
                }
                @include mq($bpPhone) {
                    margin-left: 3rem;
                    margin-bottom: 3rem;
                }
                h1 {
                    font-size: 50px;
                    max-width: 308px;
                    @include mq($bpLaptop) {
                        font-size: 35px;
                    }
                    @include mq($bpPhone) {
                        font-size: 30px;
                        margin-bottom: 8px;
                        max-width: 270px;
                    }
                    &::before {
                        bottom: -50px;
                        height: 4px;
                        @include mq ($bpPhone) {
                            width: 100%;
                            bottom: -38px;
                            height: 2px;
                        }
                    }
                }
                p {
                    margin-top: 0px;
                    display: block;
                }
            }
        }
        .bg_image {
            background: linear-gradient( 55.35deg, rgba(0, 0, 0, 0.4) 5.57%, rgba(0, 0, 0, 0) 95.89%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.home_company {
    padding: 12rem 0rem;
    @include mq($bpPhone) {
        padding: 5rem 0rem;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1120px;
        height: auto;
        margin-inline: auto;
        @include mq($bpLaptop) {
            width: 825px;
        }
        @include mq($bpPhone) {
            grid-template-columns: 1fr;
            width: 338px;
        }
        &--info {
            width: 100%;
            display: flex;
            @include mq($bpPhone) {
                order: 2;
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                text-align: start;
                margin-right: 13rem;
                @include mq($bpLaptop) {
                    margin-right: 4rem;
                }
                @include mq($bpPhone) {
                    margin-right: 0;
                }
                h2 {
                    margin-bottom: 3rem;
                    text-align: left;
                    position: relative;
                    @include line-title(0, 0, $black);
                }
                p {
                    margin-bottom: 15px;
                }
                .btn_red {
                    @include btn-red-general;
                }
            }
        }
        &--image {
            width: 100%;
            @include mq($bpPhone) {
                order: 1;
                margin-bottom: 40px;
            }
            img {
                width: 100%;
                @include mq($bpPhone) {
                    border-radius: 15px;
                }
            }
        }
    }
}

.objectives_general {
    padding: 10rem 0;
    text-align: center;
    background-color: $grey-2;
    @include mq($bpLaptop) {
        padding: 7rem 0;
    }
    @include mq($bpPhone) {
        padding: 6rem 0rem;
    }
    h2 {
        margin-bottom: 3rem;
        text-align: center;
        position: relative;
        @include line-title(50%, -50%, $black);
    }
    p {
        @include mq($bpPhone) {
            width: 338px;
            margin-inline: auto;
        }
    }
    .objectives_container {
        margin-top: 50px;
        position: relative;
        .objetivesSwiper {
            .swiper-slide {
                &:nth-child(3) {
                    p {
                        border-right: none;
                    }
                }
            }
        }
        .objectives_slider_item {
            display: flex;
            flex-direction: column;
            figure {
                margin-bottom: 30px;
                img {
                    margin: 0 auto;
                    width: auto;
                    height: 77px;
                    @include mq($bpLaptop) {
                        height: 60px;
                    }
                }
            }
            p {
                border-right: 1.5px solid $grey-4;
                padding-right: 40px;
                @include mq($bpLaptop) {
                    padding-right: 30px;
                }
                @include mq($bpPhone) {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }
        .swiper-container {
            margin-inline: auto;
            width: 80%;
        }
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
        .swiper-pagination {
            display: none;
            @include mq($bpPhone) {
                display: block;
                width: 100%;
                bottom: -3rem;
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    background: $black;
                    margin: 0 5px;
                }
                .swiper-pagination-bullet-active {
                    background: $red;
                }
            }
        }
    }
}

.testimonies {
    position: relative;
    padding: 12rem 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: $red;
    background-blend-mode: multiply;
    @include mq($bpLarge) {
        height: 40rem;
    }
    @include mq($bpLaptop) {
        padding: 8rem 0 5rem;
        height: 30rem;
    }
    @include mq($bpPhone) {
        height: 415px;
    }
    .arrows {
        column-gap: 3rem;
        display: flex;
        justify-content: center;
        margin-top: 3.5rem;
        @include mq($bpLarge) {
            column-gap: 2rem;
        }
        @include mq($bpLaptop) {
            margin-top: 2rem;
        }
        @include mq($bpPhone) {
            display: none;
        }
    }
    & .icon-arrow2 {
        &::before {
            color: $white;
            font-size: 1rem;
        }
    }
    & ul {
        max-width: 63rem;
        height: initial;
        @include mq($bpLarge) {
            max-width: 55rem;
        }
    }
    & * {
        color: $white;
        text-align: center;
    }
    & .swiper-slide {
        max-width: 100%;
        .testimonies_content {
            .icon-quot {
                margin-bottom: 3rem;
                display: block;
                font-size: 3rem;
                @include mq($bpLaptop) {
                    font-size: 2rem;
                }
            }
            p {
                margin-bottom: 4.5rem;
                @include mq($bpLarge) {
                    margin-bottom: 3rem;
                }
            }
            strong {
                text-transform: uppercase;
                font-size: 15px;
                font-family: $font_roboto;
            }
        }
    }
    .swiper-pagination {
        display: none;
        @include mq($bpPhone) {
            display: block;
            width: 100%;
            bottom: 35px;
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                background: $black;
                margin: 0 5px;
            }
            .swiper-pagination-bullet-active {
                background: $white;
            }
        }
    }
}