.projects {
    .projects_title {
        background: linear-gradient(72.78deg, #FF0000 0%, #A40000 100%);
        width: 100%;
        height: 375px;
        padding-left: 135px;
        padding-bottom: 45px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & * {
            color: $white;
        }
        @include mq($bpLaptop) {
            padding-left: 95px;
            padding-bottom: 53px;
        }
        @include mq($bpPhone) {
            padding-left: 30px;
            padding-bottom: 45px;
            height: 415px;
        }
        h1 {
            font-size: 35px;
            margin-bottom: 3rem;
            text-align: left;
            position: relative;
            max-width: 190px;
            @include line-title(0, 0, $white);
            @include mq($bpLaptop) {
                font-size: 30px;
            }
        }
        p {
            max-width: 430px;
            @include mq($bpLaptop) {
                max-width: 360px;
            }
        }
    }
    .projects_container {
        margin-left: 135px;
        margin-top: 57px;
        @include mq($bpLaptop) {
            margin-left: 95px;
            margin-top: 40px;
        }
        @include mq($bpPhone) {
            margin-left: 38px;
            margin-top: 45px;
        }
        .projects_item {
            p {
                padding-bottom: 40px;
                @include mq($bpLaptop) {
                    padding-bottom: 28px;
                }
            }
            .projects_item_gallery {
                margin-bottom: 75px;
                position: relative;
                @include mq($bpLaptop) {
                    margin-bottom: 55px;
                }
                @include mq($bpPhone) {
                    margin-bottom: 60px;
                }
                .swiper-container {
                    width: 100%;
                    .swiper-wrapper {
                        .swiper-slide {
                            width: auto !important;
                            margin-right: 30px;
                            .gallery-item {
                                img {
                                    width: auto;
                                    height: 355px;
                                    @include mq($bpLaptop) {
                                        height: 255px;
                                    }
                                    @include mq($bpPhone) {
                                        height: 195px;
                                        border-radius: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
                .swiper-button-prev,
                .swiper-button-next {
                    &::before {
                        font-family: 'icomoon' !important;
                        font-size: 20px;
                        color: $red;
                        padding: 23px 21px;
                        background-color: $white;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        @include mq($bpLaptop) {
                            font-size: 15px;
                            padding: 15px 15px;
                        }
                        @include mq($bpPhone) {
                            padding: 14px 13px;
                        }
                    }
                    &::after {
                        display: none;
                    }
                }
                .swiper-button-prev {
                    left: -15px;
                    top: 45%;
                    &::before {
                        content: "\e901";
                    }
                    @include mq($bpPhone) {
                        left: -13px;
                    }
                }
                .swiper-button-next {
                    right: 130px;
                    top: 45%;
                    &::before {
                        content: "\e904";
                    }
                    @include mq($bpPhone) {
                        right: 35px;
                    }
                }
            }
        }
    }
    .bt_more_jobs {
        padding-bottom: 10rem;
        display: block;
        text-align: center;
        font-weight: 400;
        line-height: 1.66;
        color: #545454;
        cursor: pointer;
        margin-bottom: 0;
        &:hover {
            color: $red;
        }
        @include mq($bpPhone) {
            padding-bottom: 75px;
        }
    }
}