@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
html {
    font-size: 62.5%;
    box-sizing: border-box;
}


/*
* 1rem = 16px;
*FZ = 62.5% = 1rem 10px;
*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: $font_roboto;
    font-size: 16px;
    color: #545454;
    @include mq($bpLarge) {
        font-size: 13px;
    }
    @include mq($bpPhone) {
        font-size: 15px;
    }
}

html,
body {
    position: relative;
    height: 100%;
}

img {
    display: block
}

a {
    font-family: $font_roboto;
    text-decoration: none;
    color: #414141;
}

li {
    list-style: none;
}

h2 {
    font-size: 30px;
    @include mq($bpLaptop) {
        font-size: 23px;
    }
}

h1,
h2,
h3,
h4,
strong,
span {
    font-family: $font_source;
    color: $black;
}

p {
    font-family: $font_roboto;
    line-height: 1.5;
    font-size: 17.5px;
    font-weight: 300;
    @include mq($bpLaptop) {
        font-size: 15px;
    }
    @include mq($bpTablet) {
        line-height: 1.93;
    }
}

h3 {
    text-transform: capitalize;
    font-size: 25px;
    @include mq($bpLaptop) {
        font-size: 18px;
    }
    @include mq($bpSmall) {
        font-size: 1.8rem;
    }
}

p,
strong,
span,
input,
textarea {
    color: #414141;
}

input,
textarea,
select {
    color: $white;
    font-size: 15px;
    &:focus,
    &:active {
        outline: none;
    }
    resize: none;
    @include mq($bpLaptop) {
        font-size: 12px;
    }
    @include mq($bpPhone) {
        font-size: 15px;
    }
}