@mixin mason-tiles($title-description-width, $radius-img, $img-width, $img-height, $first-title-size, $second-title-size, $third-title-size, $fourth-title-size, $padding-bottom, $padding-top, $heading1, $heading2, $font-mason) {
    @include container-110;
    padding-bottom: $padding-bottom;
    padding-top: $padding-top;
    display: grid;
    & h3 {
        @include title($second-title-size, $first-title-size, $font-mason, uppercase);
        text-align: center;
        grid-column: 1/-1;
    }
    &>p {
        @extend .text;
        text-align: center;
        max-width: $title-description-width;
        margin: 6rem auto;
    }
    & ul {
        display: flex;
        justify-content: space-between;
        & li {
            width: 34.3rem;
            & figure {
                @include transition;
                margin-bottom: 3rem;
            }
            img {
                width: $img-width;
                height: $img-height;
                border-radius: $radius-img;
                @include margin-x;
            }
            & .title-wrapper {
                text-align: center;
                margin-bottom: 2.7rem;
                @include title($third-title-size, $fourth-title-size, $font_roboto, uppercase);
                & #{$heading1} {
                    color: $white;
                    font-size: $third-title-size;
                }
                & #{$heading2} {
                    font-size: $fourth-title-size;
                }
            }
            &>p {
                @extend .text;
                text-align: center;
                width: 80%;
                @include margin-x;
                margin-bottom: 2.3rem;
            }
        }
    }
    @content
}

@mixin contact-home($heading, $first-title-size, $second-title-size, $container-name, $form-wrapper, $form-width, $form-color, $padding-top, $padding-bottom, $padding-form, $input-name, $input-color, $border, $input-radius, $textarea-height) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    .#{$container-name} {
        @include container-140;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: flex-end;
        & .#{$form-wrapper} {
            & #{$heading} {
                @include title($first-title-size, $second-title-size, $font_roboto, uppercase);
                text-align: center;
                margin-bottom: 5rem;
            }
            padding: $padding-form;
            width: $form-width;
            background-color: $form-color;
            & form>div {
                margin-bottom: 2.5rem;
            }
            & .#{$input-name} {
                background-color: $input-color;
                border: $border;
                padding: 1rem 2rem;
                width: 100%;
                border-radius: $input-radius;
                &,
                &::placeholder {
                    font-size: 18px;
                    color: #cacaca;
                    font-family: $font_roboto;
                }
            }
            & label {
                @extend .text;
                font-size: 18px;
                margin-bottom: 1.7rem;
                display: flex;
            }
            & textarea {
                height: $textarea-height;
            }
            & input.btn--contact {
                @extend .btn--yellow;
                cursor: pointer;
            }
        }
        & .title-wrapper {
            @include title($first-title-size, $second-title-size, $font_roboto, uppercase);
        }
    }
}

@mixin footer($footer-color, $padding-top, $padding-bottom, $row-gap, $column-gap, $color-link) {
    background-color: $footer-color;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    & .logo {
        width: fit-content;
        @include margin-x;
        grid-column: 1/-1;
    }
    &__wrapper {
        @include container-110;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
        row-gap: $row-gap;
        column-gap: $column-gap;
        justify-items: center;
        & * {
            font-family: $font_roboto;
        }
        //
        & ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            //
            & li {
                position: relative;
                height: fit-content;
                &:not(:last-child) {
                    padding-right: 3rem;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 2px;
                        height: 90%;
                        right: 0;
                        top: 3%;
                    }
                }
                & a {
                    color: $color-link;
                    &:hover {
                        color: $green;
                    }
                }
            }
            //CONTACT FOOTER
            &.footer__contact {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                grid-row: 3/4;
                grid-column: 1/-1;
                width: fit-content;
                column-gap: 3rem;
                row-gap: 2rem;
                //GENERAL LI SELECTOR
                & li {
                    display: flex;
                    align-items: flex-start;
                }
                //LIs
                & li:nth-of-type(1) {
                    & p {
                        font-size: 20px;
                        font-family: $font_roboto;
                        color: $white;
                    }
                    &::after {
                        background-color: transparent;
                    }
                }
                & li:nth-of-type(2) {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                & li:nth-of-type(3) {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                //social footer
                & div.social-footer {
                    display: flex;
                    align-items: center;
                    & span {
                        color: $white;
                        margin-right: 21px;
                        display: flex;
                        align-items: flex-end;
                    }
                    & a {
                        display: block;
                        font-size: 2rem;
                    }
                    //
                    & li {
                        &:not(:nth-of-type(2)) {
                            display: block!important;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        .footer__links {
            grid-row: 2/3;
            grid-column: 1/-1;
            width: fit-content;
            & ul {
                column-gap: 0;
            }
            & a {
                &:hover {
                    color: $white;
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
}

@mixin two-color-title($fsize1, $fsize2, $color, $fweight) {
    font-family: $primary-font;
    width: fit-content;
    text-transform: uppercase;
    & p {
        font-size: $fsize1;
    }
    & strong {
        color: $color;
        font-weight: $fweight;
        font-size: $fsize2;
        display: block;
        letter-spacing: 0.025em;
    }
}

@mixin title($fontBig, $fontSmall, $font-2, $textTransform) {
    & h1,
    & h2,
    & h3,
    & h4,
    &>p {
        color: $orange;
        display: block;
        text-transform: initial;
    }
    &,
    & span {
        text-transform: $textTransform;
        font-size: $fontSmall;
        color: $black;
    }
}

//breakpoint
@mixin mq($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
        @content
    }
}

@mixin mq-min($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content
    }
}

@mixin transition {
    transition: all .5s ease-in-out;
}

@mixin container-100 {
    width: 89rem;
    @include margin-x;
}

@mixin container-110 {
    max-width: 110rem;
    width: 100%;
    @include margin-x;
}

@mixin container-120 {
    max-width: 120rem;
    width: 100%;
    @include margin-x;
}

@mixin container-130 {
    max-width: 130rem;
    width: 100%;
    @include margin-x;
}

@mixin container-140 {
    max-width: 140rem;
    width: 100%;
    @include margin-x;
}

@mixin container-110 {
    width: 110rem;
    @include margin-x;
}

@mixin bg {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin margin-x {
    margin-left: auto;
    margin-right: auto;
}

@mixin center-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@mixin btn-creator($colorBorder, $width, $height) {
    appearance: none;
    outline: none;
    border: 1px solid $colorBorder;
    text-transform: uppercase;
    font-weight: 500;
    width: $width;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: $font_roboto;
}

@mixin line-title($left, $transformx, $color) {
    &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: $color;
        bottom: -8px;
        left: $left;
        transform: translateX($transformx);
    }
}

@mixin btn-red-general {
    background-color: $red;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    color: $white;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.1px;
    font-family: $font_roboto;
    @include transition;
    @include mq($bpLaptop) {
        padding: 12px 35px;
        font-size: 11px;
    }
    @include mq-min($bpBig) {
        &:hover {
            background-color: $black;
        }
    }
}

@mixin contact-content {
    &__title {
        text-align: center;
        margin-bottom: 50px;
        padding: 0rem;
        & * {
            color: $white;
            @include mq($bpPhone) {
                color: $black;
                font-size: 25px;
            }
        }
        @include line-title(0, 0, $black);
        @include mq($bpLarge) {
            margin-bottom: 40px;
            padding: 0 2rem;
        }
        @include mq($bpLaptop) {
            padding: 0;
            margin-bottom: 30px;
        }
        p {
            margin-top: 20px;
            font-size: 15px;
            letter-spacing: 0.05em;
            @include mq($bpLaptop) {
                font-size: 12px;
            }
            @include mq($bpPhone) {
                font-size: 15px;
            }
        }
    }
    form {
        width: 100%;
        label {
            font-family: $font_roboto;
            color: $white;
            text-align: left;
            font-size: 15px;
            @include mq($bpLaptop) {
                font-size: 12px;
            }
            @include mq($bpPhone) {
                color: $grey-6;
                font-size: 15px;
            }
        }
        .date_box {
            display: flex;
            span {
                &:last-child {
                    margin-left: 14px;
                }
                @include mq($bpLaptop) {
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
            @include mq($bpLaptop) {
                display: grid;
                grid-template-columns: 62% 34%;
                grid-column-gap: 9px;
            }
        }
        input,
        textarea,
        select {
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            margin-top: 13px;
            margin-bottom: 23px;
            width: 100%;
            color: $grey-5;
            height: 35px;
            @include mq($bpLaptop) {
                margin-top: 7px;
                margin-bottom: 12px;
                height: 30px;
                padding: 8px 10px;
            }
            @include mq($bpPhone) {
                background-color: $grey-7;
                height: 35px;
            }
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url("data:image/svg+xml,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='m0,6l12,12l12,-12l-24,0z'/><path fill='none' d='m0,0l24,0l0,24l-24,0l0,-24z'/></svg>") no-repeat right;
            background-position-x: 96%;
            background-size: 1.5rem;
            background-color: $white;
            @include mq($bpLaptop) {
                background-size: 1rem;
            }
            @include mq($bpPhone) {
                background-color: $grey-7;
            }
        }
        textarea {
            height: 145px;
            @include mq($bpLaptop) {
                height: 106px;
            }
        }
        .content_btn {
            position: relative;
            text-align: center;
            .btn_form {
                background-color: $red;
                color: $white;
                border-radius: 10px;
                padding: 11px 62px;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                display: inline-block;
                line-height: 16.39px;
                transition: all .3s ease-in-out;
                margin-top: 0;
                border: none;
                text-transform: uppercase;
                width: auto!important;
                &:hover {
                    background-color: $red-5;
                    color: $white;
                }
                @include mq($bpLaptop) {
                    font-size: 12px;
                    padding: 7px 40px;
                }
                @include mq($bpPhone) {
                    font-size: 15px;
                    padding: 10px 60px;
                }
            }
            .ajax-loader {
                position: absolute;
                width: 100%;
                top: 0;
                left: 50%;
            }
        }
    }
}

@mixin custom-scroll {
    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 7px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $red;
        border-radius: 10px;
    }
}

// #wpadminbar {
//  display: none;
// }