@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?u1nzn3');
    src: url('../fonts/icomoon.eot?u1nzn3#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?u1nzn3') format('truetype'), url('../fonts/icomoon.woff?u1nzn3') format('woff'), url('../fonts/icomoon.svg?u1nzn3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Asap';
    src: url('../fonts/Asap-Medium.eot');
    src: url('../fonts/Asap-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Asap-Medium.woff2') format('woff2'), url('../fonts/Asap-Medium.woff') format('woff'), url('../fonts/Asap-Medium.ttf') format('truetype'), url('../fonts/Asap-Medium.svg#Asap-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-SemiBold.eot');
    src: url('../fonts/SourceSerifPro-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSerifPro-SemiBold.woff2') format('woff2'), url('../fonts/SourceSerifPro-SemiBold.woff') format('woff'), url('../fonts/SourceSerifPro-SemiBold.ttf') format('truetype'), url('../fonts/SourceSerifPro-SemiBold.svg#SourceSerifPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}