[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-telephone:before {
    content: "\e900";
}

.icon-arrow-prev:before {
    content: "\e901";
}

.icon-icon-select:before {
    content: "\e902";
}

.icon-icon-close:before {
    content: "\e903";
}

.icon-arrow-next:before {
    content: "\e904";
}

.icon-hamburguer-menu:before {
    content: "\e905";
}

.icon-icon-eye:before {
    content: "\e906";
}

.icon-phone:before {
    content: "\e907";
}

.icon-email:before {
    content: "\e908";
}

.icon-instagram:before {
    content: "\e909";
}

.icon-facebook:before {
    content: "\e90a";
}

.icon-quot:before {
    content: "\e90b";
}

.icon-email-2:before {
    content: "\e90c";
}

.icon-cross:before {
    content: "\ea0f";
}

.home-swiper {
    i.icon-arrow-black {
        display: block;
    }
    .icon-arrow-black:before {
        content: "\e904";
        color: #000;
        font-size: 15px;
        display: block;
    }
}

.home-testimonials {
    .icon-arrow-black:before {
        content: "\e904";
        color: #000;
        font-size: 10px;
        display: block;
    }
}