.is-flex {
    display: flex;
}

.btn {
    border: none;
    outline: none;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition;
    &+& {
        margin-left: 3rem;
    }
    &_general {
        @include btn-creator($orange, 213px, 53px);
        color: $white;
        background-color: $orange;
        font-size: 19px;
        @include mq($bpLarge) {
            @include btn-creator($orange, 150px, 37px);
            font-size: 14px;
        }
    }
}

.arrow {
    @extend .is-flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    border-radius: 5rem;
    border: 2px solid $white;
    height: 3rem;
    width: 3rem;
    z-index: 10000;
    color: $white;
    font-weight: 600;
    font-size: 3rem;
    cursor: pointer;
    transition: all .3s ease;
    @include mq-min($bpBig) {
        &:hover {
            @include transition;
            background-color: $black;
        }
    }
    & i {
        font-size: 1.6rem;
        &::before {
            color: $white!important;
        }
    }
    @include mq($bpLarge) {
        width: 3rem;
        height: 3rem;
    }
    @include mq($bpLaptop) {
        width: 2.5rem;
        height: 2.5rem;
    }
    &.prev {
        left: 0;
        transform: rotate(180deg);
    }
    &.next {
        right: 0;
    }
}