$white: #fff;
$black: #000;
$darkBlue: #121B22;
//
$yellow: #D09F0A;
$green: #00FFD1;
//
$red: #FF0000;
$red-2: #A40000;
$red-3: #E30613;
$red-4: #B00000;
$red-5: #D20000;
//
$orange: #FF3600;
//
$blue: #005E8F;
$blue-2: #002D45;
$blue-3: #007EC1;
//
$grey: #6B6B6B;
$grey-2: #F5F5F5;
$grey-3: #444444;
$grey-4: #545454;
$grey-5: #A7A7A7;
$grey-6: #575757;
$grey-7: #EFEFEF;
//
$cream: rgba(208, 159, 10, 0.1);
$gray-rgb-1: rgba(0, 0, 0, 0);
$gray-rgb-2: rgba(0, 0, 0, 0.4);
$gray-rgb-3: rgba(255, 255, 255, 0.7);
//
//
$font_roboto: 'Roboto',
normal;
$font_asap:'Asap',
normal;
$font_source: 'Source Serif Pro',
normal;
//
$bpXLarge: 118.75em; //1900px
$bpLarge: 106em; //1696px
$bpLaptop: 94em; //1504px
$bpBig: 75em; //1200
//
$bpTablet: 62em; //992px
//
$bpPhone: 48em; //768px
$bpSmall: 36em; //576px
$bpXSmall: 20em; //320px