/*!
Theme Name: CC - Contractors
Theme URI: AMG-T&I
Author: AMG-T&I
Author URI: AMG-T&I
Description: Template desarrollado a medida para el cliente "CC - Contractors".
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: contractors
*/

* {
    margin: 0px;
    padding: 0px;
}

body.logged-in {
    padding-top: 32px;
}